<a href="https://colab.research.google.com/github/Varoonramesh/-Predicting-fraudulent-transactions/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

program to check palindrome

In [ ]:
def is_palindrome(str_input):
  cleaned_str = str_input.replace(" ","").lower()
  if cleaned_str == cleaned_str[::-1]:
    print('Its palindrome')
  else:
    print('Its not palindrome')

is_palindrome('Malayalam')

Its palindrome

program to remove panctuations from string

In [ ]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)

    cleaned_string = input_string.translate(translator)

    return cleaned_string

# Example usage
input_string = "Hello, world! How's it going?"
cleaned_string = remove_punctuation(input_string)
print("Original string:", input_string)
print("Cleaned string:", cleaned_string)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

program to check vowel

In [ ]:
def check_vowel(str_in):
  vowels = "aeiouAEIOU"
  for i in str_in:
    if i in vowels:
      return True
  return False

check_vowel('varun')

True

program to count number of vowels

In [ ]:
def count_vowels(s):
  v = "aeiouAEIOU"
  c = 0
  for i in s:
    if i in v:
      c+=1
  return c

count_vowels('aeiougskdjfhlkjdlksdhaaaeeeiiouuhd')

16

In [3]:
def count_vowels(input_str):
  v = 'aeiouAEIOU'
  h = 0
  for i in input_str:
    if i in v:
      h+=1
  return h

count_vowels('adafagiojhfjv')

5

using list comprehension

In [ ]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"  # List of vowels (both lowercase and uppercase)

    vowel_count = sum(1 for char in input_string if char in vowels)
    return vowel_count

count_vowels('kjsdhfiug9aeqpwoacxui')

8

program to access index of a list using for loop

In [ ]:
my_list = [10, 20, 30, 40, 50]

for index, value in enumerate(my_list):
    print("Index:", index, "Value:", value)

Index: 0 Value: 10
Index: 1 Value: 20
Index: 2 Value: 30
Index: 3 Value: 40
Index: 4 Value: 50

In [ ]:
my_list = [10, 20, 30, 40, 50]
for i,j in enumerate(my_list):
  print('Index:',i,'Values:',j)

Index: 0 Values: 10
Index: 1 Values: 20
Index: 2 Values: 30
Index: 3 Values: 40
Index: 4 Values: 50

In [ ]:
nested_lists = [[1, 2, 3], [4, 5], [6, 7, 8]]

flattened_list = []

for sublist in nested_lists:
    for item in sublist:
        flattened_list.append(item)

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
nested_lists = [[1, 2, 3], [4, 5], [6, 7, 8]]
listt = []
for i in nested_lists:
  for j in i:
    listt.append(j)
print(listt)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
num = int(input('enter a number:'))
if num > 0:
  print('positive')
elif num < 0:
  print('negetive')
else:
  print('zero')

enter a number:-78
negetive

In [ ]:
def min_num(lst):
  min = lst[0]
  for i in lst:
    if i < min:
      min = i
  return min

In [ ]:
ab = [11,33,55,8,11,2,125]

In [ ]:
min_num(ab)

2

In [ ]:
def max_val(lst):
  max = lst[0]
  for i in lst:
    if i > max:
      max = i
  return max

In [ ]:
max_val(ab)

125

In [ ]:
import pandas as pd

In [ ]:
data = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
    [13,14,15,16]
]

In [ ]:
columns = ['A','B','C','D']

In [ ]:
df = pd.DataFrame(data=data,columns=columns)
df

    A   B   C   D
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

In [ ]:
data = {'Name' : ['Suma','lowda','lasan','gandu'],
        'City' : ['H','J','I','M'],
        'Money': [200,300,100,55]}

In [ ]:
dff = pd.DataFrame(data)
dff

    Name City  Money
0   Suma    H    200
1  lowda    J    300
2  lasan    I    100
3  gandu    M     55

In [ ]:
dff_new  = dff.replace('Suma','Tunne')
dff_new

    Name City  Money
0  Tunne    H    200
1  lowda    J    300
2  lasan    I    100
3  gandu    M     55

In [ ]:
print(dff.iloc[1])

Name     lowda
City         J
Money      300
Name: 1, dtype: object

In [ ]:
print(dff.loc[:,'Name'])

0     Suma
1    lowda
2    lasan
3    gandu
Name: Name, dtype: object

In [ ]:
def even_odd(num):
  if num % 2 == 0:
    print('Even')
  else:
    print('Odd')

In [ ]:
even_odd(2000)

Even

In [ ]:
lst = ['str',12,True,45.22]
sum = 0
for i in lst:
  if isinstance(i,(int,float)):
    sum+=i
print(sum)

58.22

In [ ]:
dic = {1:['a','b','c'],
       2:['d','e','f'],
       3:['g','h','i']
       }

In [ ]:
gh = pd.DataFrame(dic)
gh

   1  2  3
0  a  d  g
1  b  e  h
2  c  f  i

In [ ]:
ff = gh.iloc[1]
ff

1    b
2    e
3    h
Name: 1, dtype: object

In [ ]:
aa = gh.iloc[:,2]
aa

0    g
1    h
2    i
Name: 3, dtype: object

In [ ]:
def is_prime(num):
  if num <= 1 :
    return False
  for i in range(2,int(num**0.5)+1):
    if num % i == 0:
      return False
  return True

def is_palindrome(num):
  return str(num) == str(num)[::-1]

pal_prime_list = []

for i in range(100,501):
  if is_prime(i) and is_palindrome(i):
    pal_prime_list.append(i)

print(pal_prime_list)

[101, 131, 151, 181, 191, 313, 353, 373, 383]

In [ ]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

def is_palindrome(num):
    return str(num) == str(num)[::-1]

palindrome_prime_list = []

for num in range(100, 501):
    if is_prime(num) and is_palindrome(num):
        palindrome_prime_list.append(num)

print("Palindrome prime numbers between 100 and 500:", palindrome_prime_list)

Palindrome prime numbers between 100 and 500: [101, 131, 151, 181, 191, 313, 353, 373, 383]

In [ ]:
data1 = {
    'Race Number': [1, 2, 3, 4, 5],
    'Winner': ['Alice', 'Bob', 'Charlie', 'Alice', 'Alice']
}

df1 = pd.DataFrame(data1)

# Create the second data frame with more race results
data2 = {
    'Race Number': [6, 7, 8],
    'Winner': ['Charlie', 'Bob', 'Alice']
}

df2 = pd.DataFrame(data2)

NameError: ignored

In [5]:
def fibonacci(n):
  fibonacci_series = []
  a,b = 0,1
  while len(fibonacci_series) < n:
    fibonacci_series.append(a)
    a,b = b, a+b

  return fibonacci_series

fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [7]:
def fib(n):
  fib_ser = []
  a,b = 0,1

  while len(fib_ser) < n:
    fib_ser.append(a)
    a,b = b, a+b

  return fib_ser

fib(15)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [8]:
def fib_ser(n):
  fibo = []
  a,b = 0,1

  while len(fibo) < n:
    fibo.append(a)
    a,b = b, a+b

  return fibo

fib_ser(20)

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [10]:
main_string = input("Enter the main string: ")

# Input the substring to count
substring = input("Enter the substring to count: ")

# Count the number of occurrences of the substring
count = main_string.count(substring)
print(count)

Enter the main string: 'I am batman bitch'
Enter the substring to count: 'bitch'
0

In [11]:
def find_duplicates(input_list):
  seen = []
  duplicates = []

  for i in input_list:
    if i in seen:
      duplicates.append(i)
    else:
      seen.append(i)
  return duplicates

find_duplicates([1,2,4,55,7,8,7,8,7,9,7])

[7, 8, 7, 7]